{% extends "first.html" %}
{% block title %}
Add feed
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}

<br>
<form action="/addfeed/" method="POST">
{% csrf_token %}
<div style="display:flex;justify-content:center;align-items:center">
<table>
<tr>
<th>Type</th>
<td><input type="text" name="type" required></td>
</tr>
<tr>
<th>State GST</th>
<td><input type="number" name="sgst" step="0.01" required></td>
</tr>
<tr>
<th>Central GST</th>
<td><input type="number" name="cgst" step="0.01" required></td>
</tr>
</table>
<input type="submit" value="Add">
</div>
</form>
{% endblock %}

{% block script %}
{% endblock %}
