{% extends "first.html" %}
{% block title %}
Details
{% endblock %}
{% block style %}
<style>
table, th, td {
    border: 1px solid black;
	padding: 5px;
}
</style>
{% endblock %}
{% block content %}
<center><h4> Details for {{product.brand}} {{product.type}}</h4>
</center>
<br>
<div style="display:flex;justify-content:center;align-items:center">

<table>
<tr>
	<td>Type</td>
    <td>{{product.type}}</td>
</tr>      
<tr>
	<td>Brand</td>
    <td>{{product.brand}}</td>
</tr>
{% if request.user.is_superuser %}
<tr>
	<td>Company Address</td>
    <td>{{product.Address}}</td>
</tr>
{% endif %}
<tr>
	<td>Price</td>
    <td>{{product.price}}</td>
</tr>
<tr>
	<td>State GST</td>
    <td>{{product.s_gst}}</td>
</tr>
<tr>
	<td>Central GST</td>
    <td>{{product.c_gst}}</td>
</tr>
{% if request.user.is_superuser %}
<tr>
	<td>Phone</td>
    <td>{{product.phone}}</td>
</tr>
{% endif %}

</table>

<br>
</div>
{% endblock %}

{% block script %}
{% endblock %}
