{% extends "first.html" %}
{% block title %}
Add Product
{% endblock %}
{% block style %}
<style>
	.ex1 {
    width: 40%;
    margin: auto;
}
	.alert {
	color:red;
	text-align:center;
}
</style>
{% endblock %}
{% block content %}
<center>
<h4>
Add details of Supplier to add
</h4>
<form action='/suppliers/add/' method="POST">
{% csrf_token %}
<div class="ex1">
	<label>Name:</label><br>
	<input type="text" name="name" placeholder="Enter Name" required>
	<br><br>
	<label>Address:</label><br>
	<input type="text" name="address" placeholder="Enter address" required>
	<br><br>
	<label>Phone1:</label><br>
	<input type="text" name="phone1" placeholder="Enter Phone" required>
	<br><br>
	
	<label>Phone 2:</label><br>
	<input type="text" name="phone2" placeholder="Enter Phone">
	<br><br>
	<label>Phone 3:</label><br>
	<input type="text" name="phone3" placeholder="Enter Phone">
	<br><br>

	<input type="submit" value="Add">
</div>
</center>

{% endblock %}
