{% extends "first.html" %}
{% block title %}
Pending
{% endblock %}
{% block style %}
<style>
table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
{% endblock %}
{% block content %}
<center><h3>Payment due from customers</h3>
{% if debitors|length > 0 %}
<form action="/pending/" method="POST">
{% csrf_token %}
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Amount</th>
      <th>Settle</th>
    </tr>
	{% for i in debitors %}    
		<tr>
		<td>{{i.name}}</td>
		<td>{{i.phone}}</td>
		<td>{{i.address}}</td>
		<td>{{i.balance}}</td>
    <td><input type="radio" name="cid" value={{i.cid}} checked></td>
    </tr>
	{% endfor %}
  </table>
</div>
<input type="submit" name="customer" value="Accept Payment">
</form>
{% else %}
<p>No pending orders by suppliers right now</p>
{% endif %}
<br>

<h3>Payment to be made to the suppliers</h3>
{% if creditors|length > 0 %}
<form action="/pending/" method="POST">
{% csrf_token %}
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Amount</th>
      <th>Settle</th>
    </tr>
	{% for i in creditors %}    
		<tr>
		<td>{{i.name}}</td>
		<td>{{i.phone}}</td>
		<td>{{i.address}}</td>
		<td>{{i.balance}}</td>
    <td><input type="radio" name="sid" value={{i.sid}} checked></td>
    </tr>
	{% endfor %}
  </table>
</div>
<input type="submit" name="supplier" value="Pay">
</form>
{% else %}
<p>No pending payments to suppliers right now</p>
{% endif %}
</center>
{% endblock %}

{% block script %}

{% endblock %}
