{% extends "first.html" %}
{% block title %}
Add Product
{% endblock %}

{% block content %}
<center>
<h4>
Add details of product to add to record
</h4>
<form action='/catalog/add/' method="POST">
{% csrf_token %}
	<br><br>
	<label>Customer:</label>
	<select name="brand">
	{% for i in brands %}
	<option value="{{ i.bid }}">{{ i.name }}</option>
	{% endfor %}
	</select>
	<a href="/addbrand/">Add</a>
	<br><br>
	<label>Type:</label> 
	<select name="type">
	{% for i in feed %}
	<option value="{{ i.fid }}">{{ i.type }}</option>
	{% endfor %}
	</select>
	<a href="/addfeed/">Add</a>
	<br><br>
	<label>Cost:</label>
	<input type="number" name="cost">
	<br>
	*This is base price cost will be revised everytime it is purchased	
	<br>
	<input type="submit" value="Add">

</center>

{% endblock %}
